<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peligro.pda.peligro" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.peligro.pda.peligro.C2D_MESSAGE" />

    <permission
        android:name="com.peligro.pda.peligro.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" >
        </service>

        <Service
            android:name=".RegService"
            android:exported="false" >
        </Service>

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peligro.pda.peligro.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ConfirmationActivity"
            android:label="@string/title_activity_confirmation"
            android:parentActivityName=".RegistrationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peligro.pda.peligro.RegistrationActivity" />
        </activity>
        <activity
            android:name=".InitSettingActivity"
            android:label="@string/title_activity_init_setting"
            android:parentActivityName=".ConfirmationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peligro.pda.peligro.ConfirmationActivity" />
        </activity>
        <activity
            android:name=".FinalInfoActivity"
            android:label="@string/title_activity_final_info"
            android:parentActivityName=".ConfirmationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peligro.pda.peligro.ConfirmationActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peligro.pda.peligro.WelcomeActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".GPSTracker"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".MyRefreshDataService"
            android:exported="false" >
        </service>
        <service
            android:name=".LocationUpdater"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".AlertMapActivity"
            android:label="@string/title_activity_alert_map"
            android:parentActivityName=".WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peligro.pda.peligro.WelcomeActivity" />
        </activity>
        <activity
            android:name=".MapViewActivity"
            android:label="@string/title_activity_map_view"
            android:parentActivityName=".InitSettingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peligro.pda.peligro.WelcomeActivity" />
        </activity>
    </application>

</manifest>
